<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [ ]:
#Import the required libraries
import numpy as np
import pandas as pd

In [ ]:
#Import the advertising dataset
data = pd.read_csv("Advertising Budget and Sales.csv",index_col=0)
data

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]

#### 2: Analyze the dataset

In [ ]:
#View the initial few records of the dataset
data.head(5)

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [ ]:
#Check the total number of elements in the dataset
data.count

<bound method DataFrame.count of      TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]>

#### 3: Find the features or media channels used by the firm

In [ ]:
#Check the number of observations (rows) and attributes (columns) in the dataset
data.shape

(200, 4)

In [ ]:
#View the names of each of the attributes
data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [ ]:
#Create a feature object from the columns
X_features = data[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]

In [ ]:
#View the feature object
X_features

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1               230.1                 37.8                     69.2
2                44.5                 39.3                     45.1
3                17.2                 45.9                     69.3
4               151.5                 41.3                     58.5
5               180.8                 10.8                     58.4
..                ...                  ...                      ...
196              38.2                  3.7                     13.8
197              94.2                  4.9                      8.1
198             177.0                  9.3                      6.4
199             283.6                 42.0                     66.2
200             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [ ]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target = data[['Sales ($)']]

In [ ]:
#View the target object
y_target

     Sales ($)
1         22.1
2         10.4
3          9.3
4         18.5
5         12.9
..         ...
196        7.6
197        9.7
198       12.8
199       25.5
200       13.4

[200 rows x 1 columns]

In [ ]:
#Verify if all the observations have been captured in the feature object
X_features.shape

(200, 3)

In [ ]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [ ]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_features,y_target,train_size=0.75,random_state = 1)

In [ ]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
X_train.shape

(150, 3)

#### 6: Create a model  to predict the sales outcome

In [ ]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train,y_train)

LinearRegression()

In [ ]:
#Print the intercept and coefficients 
print(linreg.intercept_)
print(linreg.coef_)

[2.87696662]
[[0.04656457 0.17915812 0.00345046]]

In [ ]:
#Predict the outcome for the testing dataset
prediction = linreg.predict(X_test)
print(prediction)
print(y_test)

[[21.70910292]
 [16.41055243]
 [ 7.60955058]
 [17.80769552]
 [18.6146359 ]
 [23.83573998]
 [16.32488681]
 [13.43225536]
 [ 9.17173403]
 [17.333853  ]
 [14.44479482]
 [ 9.83511973]
 [17.18797614]
 [16.73086831]
 [15.05529391]
 [15.61434433]
 [12.42541574]
 [17.17716376]
 [11.08827566]
 [18.00537501]
 [ 9.28438889]
 [12.98458458]
 [ 8.79950614]
 [10.42382499]
 [11.3846456 ]
 [14.98082512]
 [ 9.78853268]
 [19.39643187]
 [18.18099936]
 [17.12807566]
 [21.54670213]
 [14.69809481]
 [16.24641438]
 [12.32114579]
 [19.92422501]
 [15.32498602]
 [13.88726522]
 [10.03162255]
 [20.93105915]
 [ 7.44936831]
 [ 3.64695761]
 [ 7.22020178]
 [ 5.9962782 ]
 [18.43381853]
 [ 8.39408045]
 [14.08371047]
 [15.02195699]
 [20.35836418]
 [20.57036347]
 [19.60636679]]
     Sales ($)
59        23.8
41        16.6
35         9.5
103       14.8
185       17.6
199       25.5
96        16.9
5         12.9
30        10.5
169       17.1
172       14.5
19        11.3
12        17.4
90        16.7
111       13.4
119       15.9
160       12.9
36        12.8
137        9.5
60        18.4
52        10.7
17        12.5
45         8.5
95        11.5
32        11.9
163       14.9
39        10.1
29        18.9
194       19.6
28        15.9
48        23.2
166       11.9
195       17.3
178       11.7
177       20.2
98        15.5
175       11.5
74        11.0
70        22.3
173        7.6
109        5.3
108        8.7
190        6.7
15        19.0
57         5.5
20        14.6
115       14.6
40        21.5
186       22.6
125       19.7

#### 7: Calculate the Mean Square Error (MSE)

In [ ]:
# Import required libraries for calculating MSE (mean square error)
from sklearn import metrics
MSE = np.sqrt(metrics.mean_squared_error(y_test,prediction))
MSE

1.404651423032895

In [ ]:
#Calculate the MSE
print(f"Actual Value - {y_test.values[0:10]}")
print()
print(f"Prediction - {prediction[0:10]}")

Actual Value - [[23.8]
 [16.6]
 [ 9.5]
 [14.8]
 [17.6]
 [25.5]
 [16.9]
 [12.9]
 [10.5]
 [17.1]]

Prediction - [[21.70910292]
 [16.41055243]
 [ 7.60955058]
 [17.80769552]
 [18.6146359 ]
 [23.83573998]
 [16.32488681]
 [13.43225536]
 [ 9.17173403]
 [17.333853  ]]